@import '~normalize.css/normalize.css';
@import '~@formanta/sass/meta';

/*body {
    box-sizing: border-box;
}*/

pre > code {
    padding: 0
}

.light {
    font-weight: 300;
}

.grid {
    width: #{'calc(100% + ' + (space(1) * 2) + ')'};
    margin: space(1) * -1;
}

.grid > .col {
    padding: space(1);
}

.footnotes {
    &-list {
        @include body2();
        padding-left: 1.125em;
    }
    p {
        //@include body2();
        margin: 0;
    }
}

@import '~@formanta/sass/style';

